<h1>New user</h1>

<ul>
    <li>email: <%= input.email %></li>
    <li>fullname: <%= input.fullname %></li>
    <li>address: <%= input.address %></li>
    <li>age: <%= input.age %></li>
    <li>phoneNumber: <%= input.phoneNumber %></li>
    <li>cartUUID: <%= input.cartUUID %></li>
</ul>